/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Playfair+Display&display=swap");

/* navigation menu */
@import url(navbar.css);

/* sub-navigation styling */
@import url(subnavigation.css);

/* intro-paragraph styling */
@import url(intro-section.css);

/* reccomended products section */
@import url(recommendation.css);

/* article styling */
@import url(article.css);

/* footer */
@import url(footer.css);

/*media-query*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
  #main-image img {
    height: 200px;
  }

  header {
    margin-bottom: 40px;
    margin-top: 105px !important;
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  #main-image img {
    height: 250px;
  }

  header {
    margin-bottom: 15px;
    margin-top: 105px !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #main-image img {
    height: 350px;
  }
  header {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1270px) and (min-width: 1025px) {
  #main-image img {
    height: 450px;
  }

  header {
    margin-bottom: 65px;
  }
}

@media only screen and (max-width: 1340px) and (min-width: 1271px) {
  #main-image img {
    height: 450px;
  }
  header {
    margin-bottom: 65px;
  }
}

@media only screen and (min-width: 1340px) {
  header {
    margin-bottom: 70px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfbf6;
}

.container {
  margin: 0 auto;
  max-width: 80em;
}
/*navigation menu*/
nav {
  background-color: #ebcdbd;
}

header {
  margin-top: 150px;
  text-align: center;
  color: #244e38;
}

h1 {
  font-weight: 400 !important;
}
.concern:before {
  content: "\a\a";
  white-space: pre;
}
